*.swp
*.swn
*.swo
*.log
*__pycache__/
*INCA_libs/
*nWaveLog/
*nLintDB/
*nLintLog/
.simvision/
BSSLib.lib++/
novas*
verdiLog/
ncverilog*
*.key
.diagnose.oneSearch
*.alib
*pvl
*.syn
*.mr
*.pvk
*.svf
*.history
*.err
*.fsdb
