Magic 271485
Revision Verdi_M-2017.03-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2393 223 1513 748 218 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 33256.368359 52230.488867
cursor 51250.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 0

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addSubGroup "clk"
activeDirFile "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"
addSignal -h 15 /PEtest/dut/i_clk
addSignal -h 15 -holdScope i_rstn
endSubGroup "clk"
addSubGroup "control"
addSubGroup "control-out" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /PEtest/dut/DPC/out_loopIdx[0:5]
endSubGroup "control-out"
addSubGroup "control-rdyack" -e FALSE
addSignal -h 15 /PEtest/dut/FS_ack
addSignal -h 15 -holdScope FS_rdy
addSignal -h 15 -holdScope MAIN_ack
addSignal -h 15 -holdScope MAIN_rdy
addSignal -h 15 -holdScope MS_ack
addSignal -h 15 -holdScope MS_rdy
addSignal -h 15 -holdScope SS_ack
addSignal -h 15 -holdScope SS_rdy
addSignal -h 15 /PEtest/dut/DPC/Input_ack
addSignal -h 15 -holdScope Input_rdy
addSignal -h 15 -holdScope Weight_ack
addSignal -h 15 -holdScope Weight_rdy
endSubGroup "control-rdyack"
endSubGroup "control"
addSubGroup "dataflow" -e FALSE
endSubGroup "dataflow"
addSignal -h 15 -2COMP -HEX /PEtest/dut/Ms/Arithmetic_unit[0]/genblk1/MA/setd4b_wpix[0:3]
addSignal -h 15 -UNSIGNED -HEX -holdScope msk4b_ipix[15:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm open

"/PEtest"
"/PEtest/dut"
"/PEtest/dut/DPC"
"/PEtest/dut/Ms"
"/PEtest/dut/Ms/Arithmetic_unit[0]"
"/PEtest/dut/Ms/Arithmetic_unit[0]/genblk1"

SCOPE_LIST_BEGIN
"/PEtest"
"/PEtest/dut"
"/PEtest/dut/DPC"
"/PEtest/dut/Fs"
"/PEtest/dut/IPAD"
"/PEtest/dut/Ms"
"/PEtest/dut/Ms/Arithmetic_unit[0]/genblk1"
"/PEtest/dut/Ms/Arithmetic_unit[0]/genblk1/MA"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


