Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 63 2560 1017 305 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1462890.625000 1880859.375000
cursor 1678750.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 42

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addSubGroup "clk"
activeDirFile "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"
addSignal -h 15 /PEtest/dut/i_clk
addSignal -h 15 -holdScope i_rstn
endSubGroup "clk"
addSubGroup "control"
addSubGroup "control-out"
addSignal -h 15 -UNSIGNED -HEX /PEtest/dut/DPC/out_loopIdx[0:5]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[0][5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[1][5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[2][5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[3][5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[4][5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_loopIdx[5][5:0]
addSignal -h 15 -holdScope o_DPstatus
endSubGroup "control-out"
addSubGroup "control-rdyack"
addSignal -h 15 /PEtest/dut/FS_ack
addSignal -h 15 -holdScope FS_rdy
addSignal -h 15 -holdScope MAIN_ack
addSignal -h 15 -holdScope MAIN_rdy
addSignal -h 15 -holdScope MS_ack
addSignal -h 15 -holdScope MS_rdy
addSignal -h 15 -holdScope SS_ack
addSignal -h 15 -holdScope SS_rdy
addSignal -h 15 /PEtest/dut/DPC/Input_ack
addSignal -h 15 -holdScope Input_rdy
addSignal -h 15 -holdScope Weight_ack
addSignal -h 15 -holdScope Weight_rdy
endSubGroup "control-rdyack"
endSubGroup "control"
addSubGroup "ALU" -e FALSE
addSignal -h 15 -2COMP -UDEC /PEtest/dut/Ms/Arithmetic_unit[0]/genblk1/MA/setd2b_ipix[0:7]
addSignal -h 15 -2COMP -UDEC -holdScope setd2b_wpix[0:7]
addSignal -h 15 -2COMP -UDEC -holdScope setd4b_ipix[0:3]
addSignal -h 15 -2COMP -UDEC -holdScope setd4b_wpix[0:3]
addSignal -h 15 -2COMP -UDEC -holdScope setd8b_ipix[0:1]
addSignal -h 15 -2COMP -UDEC -holdScope setd8b_wpix[0:1]
addSignal -h 15 -2COMP -UDEC -holdScope o_sum[17:0]
endSubGroup "ALU"
addSubGroup "dataflow"
addSignal -h 15 -UNSIGNED -HEX /PEtest/dut/Ss/Sum_add_sht[0:15]
addSignal -h 15 /PEtest/dut/Ms/Arithmetic_unit[0]/genblk1/MA/i_ctl
endSubGroup "dataflow"
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /PEtest/dut/Ss/Sum_add_sht[0:15]
addSignal -h 15 -holdScope i_ctl
addGroup "G3"
addGroup "G4"
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/enhoshen/research/lpAccel/sim/PEtest.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/PEtest"
"/PEtest/dut"
"/PEtest/dut/DPC"
"/PEtest/dut/PPAD"

SCOPE_LIST_BEGIN
"/PEtest"
"/PEtest/dut"
"/PEtest/dut/DPC"
"/PEtest/dut/Fs"
"/PEtest/dut/IPAD"
"/PEtest/dut/Ms"
"/PEtest/dut/Ms/Arithmetic_unit[0]/genblk1"
"/PEtest/dut/Ms/Arithmetic_unit[0]/genblk1/MA"
"/PEtest/dut/Ss"
"/PEtest/dut/Ms/Arithmetic_unit[0]"
"/PEtest/dut/Ms/Arithmetic_unit[1]"
"/PEtest/dut/Ps"
"/PEtest/dut/PPAD"
"/PEtest/dut/DPC/INLp"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


